.screenDiv {
  .allResults {
    li {
      border: 1px solid #DDD;
      background: #f3f3f3;
    }
  }

  .screenCondition {
    border-bottom: 1px solid #DDD;

    .screenTitle {
      width: 120px;
      background: #f3f3f3;
    }

    li {
      cursor: pointer;
      margin-left: 16px;
    }
  }

  .el-icon-close:hover {
    color: #FF2525;
  }
}