.home,
.home>.el-container {
  height: 100%;

  .el-icon-s-fold,
  .el-icon-s-unfold {
    font-size: 1rem;
  }

  .el-header {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background: #4174EA;
    height: 80px !important;

    .welcom-admin {
      margin-right: 1rem;
      color: #fff;
    }

    .admin-image {
      width: 50px;
      border-radius: 50%;
    }

    .el-icon-arrow-down {
      font-size: 12px;
    }
  }

  .contentBox {
    height: calc(100% - 80px);

    .el-menu {
      border-right: 0;
      float: left;
      height: 100%;
      z-index: 999999;
      font-size: 16px;
      font-weight: bold;

      &.el-menu-vertical-demo:not(.el-menu--collapse) {
        width: 240px;
      }

      .switchCla {
        height: 41px;
        line-height: 41px;
        background: #e8f1ff;
      }
    }

    .rightContentBox {
      height: 100%;
      display: flex;
      flex-direction: column;

      /deep/ .el-tabs__item.is-top.is-active.is-closable.is-focus {
        box-shadow: none !important;
        border-radius: 0 !important;
      }

      /deep/ .el-tabs__hadeer {
        margin: 0;

        /deep/.el-tabs__nav-next {
          right: 4px;
        }

        /deep/.el-tabs__nav-prev {
          left: 4px;
        }
      }

      .viewContainer {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  /deep/.el-tabs__header {
    margin: 0 !important;
  }

  /*隐藏文字*/
  .el-menu--collapse .el-submenu__title span {
    display: none;
  }

  /*隐藏 > */
  .el-menu--collapse .el-submenu__title .el-submenu__icon-arrow {
    display: none;
  }

  /deep/ .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #409eef !important;
    border-bottom: 3px solid;
  }

  /deep/ .el-tabs #tab-0 .el-icon-close {
    display: none;
  }

  /deep/ .el-tabs #tab-0 {
    padding: 0 20px !important;
  }

  .viewContainer {
    overflow-y: scroll;

    /* 滚动条 */
    &::-webkit-scrollbar-track-piece {
      background: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      height: 50px;
      background: #ccc;
      border-radius: 50px;
      cursor: pointer;
    }
  }

}